@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
*{
    margin: 0;
}

header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 25px;
}
.logo{
    flex-grow: 1;
    margin-left: 20px;
}
.nav-list{
    flex-grow: 0.05;
    display: flex;
    list-style: none;
}
.nav_link{
    padding: 20px 20px;
    text-decoration: none;
}
.main-nav{
    margin-right: 30px;
}
#logo{
    width: 200px;
}
#search{
    width: 20px;
}
.menu{
    margin-right: 20px;
}
#menu{
    transform:rotate(90deg);
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.background{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.fill-background{
width: 100%;
}

/*__________________________________________________________________*/
/*_______________________________MENU_______________________________*/
/*__________________________________________________________________*/

.MyNav{
    background-color: #fff;
    position:fixed;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    z-index: 1;
}
.Nav_content{
    float: left;
    width: 50%;
}
.annex{
    float: right;
    width: 50%;
}
.Nav_elements{
    position: relative;
    white-space: nowrap;
    width: 1em;
    left: 15vw;
    top: 25vh;
    padding: 0;
    list-style: none;
    font-size: 35px;
    cursor: pointer;
}
#annex_img{
    height: 65vh;
    position: relative;
    top: 18vh;
    left: 130px;
    filter: contrast(120%);
    filter: saturate(60%);
}
li.Nav_list-item:not(:first-of-type){
    padding-top: 0.5em;
}
li.Nav_list-item:not(:last-of-type){
    padding-bottom: 0.5em;
}
#Nav_list-title{
    position: relative;
    top: 15vh;
    left: 15vw;  
    font-size: 45px;  
}
li.Nav_list-item:hover{
    text-decoration: underline;
    font-weight: 600;
}
#close{
    position: fixed;
    top: 10vh;
    right: 20px;
    transform:rotate(90deg);
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
}