<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="{{url_for('static', filename='home.js')}}"></script>
</head>
<body>


    <div class="MyNav" id="MyNav">
        <div class="Nav_content">
            <h1 id="Nav_list-title">MENU</h1>
            <ul class="Nav_elements">
                <li class="Nav_list-item" onmouseover="study();" onmouseout="hideStudy();">STUDY</li>
                <li class="Nav_list-item" onclick="">STUDENT LIFE</li>
                <li class="Nav_list-item" onclick="">ADMISSION</li>
                <li class="Nav_list-item" onmouseover="whatsOn();" onmouseout="hideWhatsOn();" >WHAT'S ON</li>
            </ul>
        </div>
        <div class="annex" id="annex">
            <button id="close" onclick="hideMenu()" value="open">CLOSE</button>
            <img src="{{url_for('static',filename='joel-wyncott-YY3ijZa2lGQ-unsplash.jpg')}}" alt="" id="annex_img">
        </div>
      </div>  


  <header>
        <div class="logo"><img src="{{url_for('static',filename='2020-Logo-Stacked-Vector-Small-Version.-png.png')}}" alt="" id="logo"></div>
        <nav class="main-nav">
            <ul class="nav-list">
                <a href="{{url_for('connect')}}" style="text-decoration: none; color:white;">
                    <li class="nav_link">Sign in</li>
                </a>
                <li class="nav_link" style="color: white;">EN</li>
                <li class="nav_link"><a href=""><img src="{{url_for('static',filename='chercher.png')}}" alt="chercher.png" id="search"></a></li>
            </ul>
        </nav>
        <div class="menu">
            <button id="menu" onclick="displayMenu()" value="open">MENU</button>
        </div>
  </header> 
  <main>
    <section class="accueil">
        <div class="background">
        <img src="{{url_for('static',filename='nadin-mario-al2FHdZKxpU-unsplash.jpg')}}" alt="" class="fill-background">
        </div>
    </section>
  </main> 
</body>
</html>
