<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Sign_up.css')}}">
</head>
<body>
    <div class="sign_up">
        <div class="field">
            <div class="form">
                <form action="" method="get" >
                    <h1 id="title">SIGN UP</h1>
                    <input type="text" placeholder="Name" class="input" >
                    <br>
                    <input type="email" placeholder="Email" class="input">
                    <br>
                    <input type="password" placeholder="Password" class="input">
                    <br>
                    <input type="checkbox" id="agree" name="agree">
                    <label for="agree">I agree to the school privacy policy</label>
                    <br>
                    <input type="submit" value="SUBMIT" id="submit">
                </form>
            </div>    
        </div> 
        <div class="photo">
            <img src=" {{url_for('static',filename='tim-toomey-IW9mC6wEXbk-unsplash.jpg')}} " alt="" id="tim">
        </div>
    </div>    
</body>
</html>