<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welecome</title>
    <link rel="stylesheet" href="{{url_for('static',filename='user.css')}}">
</head>
<body>
    <header>
        <div class="logo"><img src="{{url_for('static',filename='2020-Logo-Stacked-Vector-Small-Version.-png.png')}}" alt="" id="logo"></div>
        <nav class="main-nav">
            <ul class="nav-list">
                <a href="Sign_up.html" style="text-decoration: none; color:black">
                    <li class="nav_link" style="font-size: 18px;">Sign out</li>
                </a>
                <li class="nav_link" style="font-size: 18px;">EN</li>
            </ul>
        </nav>
        <div class="menu">
            <p id="menu">MENU</p>
        </div>
    </header>
    <div class="content">
        <p> WELCOME {{user}}! </p>
    </div>
</body>
</html>